<b>

ISYS613 | Course Project | Fall 2020
--------|----------------|----------

</b>

## Project Overview
The objective of this project is to afford you the opportunity to demonstrate the
skills acquired over the course of the semester.  Specifically, you will be constructing
an analytics-ready dataset using data from several disparate, but related data sources.

Your dataset is to be a pandas dataframe suitable for answering the proof of concept
questions located at the end of this document.

### The Scenario
You are the proprietor of a small tour company.  You are interested in launching a new app
that will allow users to undertake self-guided tours of noteworthy authors. To launch your app
you need to assemble the authors' location information along with some other facts that you
believe will be of interest to your customers.

## Data Sources
You will be collecting and assembling data from several different sources and formats.

### Source 1: Initial Author Data
The initial list of author names is to be web-scraped from a popular "famous quotes" website.
There are 50 unique authors available from this site.  Begin your exploration at the base
URL and determine your own strategy to find and capture the required author data.

Depending on your approach, you may encounter the same author multiple times.
In the end, your list of authors should be duplicate free.

```
Base Scrape URL: https://quotes.toscrape.com
```
#### Tasks
1. Beginning at the above URL, you are to use a web scraping technique to collect
the following author information:
* Full Name
* Date of birth
* Birth location
2. Create a pandas dataframe from (or using) the relevant data

In [3]:
import requests
from bs4 import BeautifulSoup
import re
from urllib.parse import urljoin
from requests.exceptions import HTTPError
import pandas as pd
import numpy as np
from pprint import pprint
import csv


# SOURCE 1 SOLUTION

SCRAPE_URL =  'https://quotes.toscrape.com'
my_lst=[]
a_lst =[]
a_info= []
data = {
    'name':[],
    'dob':[],
    'pob':[],   
}

def simple_get(url, *args, **kwargs):
    try:
        resp = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        resp.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err

    return resp

def soup_data(resp):
    html = resp.content
    soup = BeautifulSoup(html, 'html.parser')
    return soup

def get_about_us(url):
    page = requests.get(url)
    
    if page.status_code == requests.codes.ok:
        html = page.content
        my_soup = BeautifulSoup(html, 'html.parser')
        for content in my_soup.find_all("a", href=re.compile("/author/")):
            a_url = content.get('href')
            a_url = SCRAPE_URL + a_url
            if a_url in my_lst:
                continue;
            else:
                my_lst.append(a_url)
                a_resp = simple_get(a_url)
                a_soup = soup_data(a_resp)
                name = a_soup.find('div', class_='author-details').text.strip()
                dob = a_soup.find('span', class_='author-born-date').text.strip()
                location = a_soup.find('span', class_='author-born-location').text.strip()[3:]
                data['name'].append(name)
                data['dob'].append(dob)
                data['pob'].append(location)       
        
        next_page = my_soup.find("li", class_="next")
        if next_page is not None:
            next_page_text = my_soup.find("li", class_="next").text
            next_page_text = next_page_text.strip()[0:4]
            if next_page_text == 'Next':
                next_url = my_soup.find("li", class_="next").find("a")["href"]
                full_url = SCRAPE_URL + next_url
                get_about_us(full_url)
    else:
        print("invalid url")
            
    return data

author_data = get_about_us(SCRAPE_URL)
author_df = pd.DataFrame(author_data)
author_df

,name,dob,pob
0,Albert Einstein,"March 14, 1879","Ulm, Germany"
1,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit..."
2,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom"
3,Marilyn Monroe,"June 01, 1926",The United States
4,André Gide,"November 22, 1869","Paris, France"
5,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States"
6,Eleanor Roosevelt,"October 11, 1884",The United States
7,Steve Martin,"August 14, 1945","Waco, Texas, The United States"
8,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica"
9,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States"
10,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom"
11,Elie Wiesel,"September 30, 1928","Sighet, Romania"
12,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony..."
13,Mark Twain,"November 30, 1835","Florida, Missouri, The United States"
14,Allen Saunders,"April 24, 1899",The United States
15,Pablo Neruda,"July 12, 1904","Parral, Chile"
16,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States"
17,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi..."
18,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States"
19,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States"
20,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States"
21,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom"
22,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina"
23,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir..."
24,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States"
25,C.S. Lewis,"November 29, 1898","Belfast, Ireland"
26,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States"
27,James Baldwin,"August 02, 1924","Harlem, New York, The United States"
28,Haruki Murakami,"January 12, 1949","Kyoto, Japan"
29,Alexandre Dumas-fils,"July 27, 1824","Paris, France"
30,Stephenie Meyer,"December 24, 1973","Connecticut, The United States"
31,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States"
32,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States"
33,George Bernard Shaw,"July 26, 1856","Dublin, Ireland"
34,Charles Bukowski,"August 16, 1920","Andernach, Germany"
35,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States"
36,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa"
37,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom"
38,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un..."
39,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States"
40,George Carlin,"May 12, 1937","New York, New York, The United States"
41,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom"
42,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States"
43,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federation"
44,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States"
45,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom"
46,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States"
47,Khaled Hosseini,"March 04, 1965","Kabul, Afghanistan"
48,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States"
49,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States"

### Source 2: Author Key Data
For each of the 50 authors previously identified, you are to merge a key and gender value available
from a CSV file with the author data from *Source 1*.

```
CSV File: *author_key_file.csv*
```
#### Tasks
1. The author names are unique in both
data sources and thus may be used to associate the *key* and *gender* attribute values with the author.
3. Once you have completed the merge, convert the *key* column to be the dataframe's row index.

In [4]:
CSV_FILE = 'author_key_file.csv'

ak_df= pd.read_csv(CSV_FILE, encoding='utf-8', delimiter=',', index_col=0)
merged_df = pd.merge(author_df,ak_df, on='name', how='inner' )
indexed_df = merged_df.set_index('key')
indexed_df

,name,dob,pob,gender
key,,,,
QWxiZXJ0,Albert Einstein,"March 14, 1879","Ulm, Germany",M
Si1LLVJv,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",F
SmFuZS1B,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",F
TWFyaWx5,Marilyn Monroe,"June 01, 1926",The United States,F
QW5kcmUt,André Gide,"November 22, 1869","Paris, France",M
VGhvbWFz,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States",M
RWxlYW5v,Eleanor Roosevelt,"October 11, 1884",The United States,F
U3RldmUt,Steve Martin,"August 14, 1945","Waco, Texas, The United States",M
Qm9iLU1h,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica",M
RHItU2V1,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States",M
RG91Z2xh,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom",M
RWxpZS1X,Elie Wiesel,"September 30, 1928","Sighet, Romania",M
RnJpZWRy,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony...",M
TWFyay1U,Mark Twain,"November 30, 1835","Florida, Missouri, The United States",M
QWxsZW4t,Allen Saunders,"April 24, 1899",The United States,M
UGFibG8t,Pablo Neruda,"July 12, 1904","Parral, Chile",M
UmFscGgt,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States",M
TW90aGVy,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi...",F
R2Fycmlz,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States",M
SmltLUhl,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States",M
Q3hhcmxl,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States",M
V2lsbGlh,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom",M
Sm9yZ2Ut,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina",M
R4Vvcmdl,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir...",F
R5Vvcmdl,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States",M
Qy1TLUxl,C.S. Lewis,"November 29, 1898","Belfast, Ireland",M
TWFydGlu,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States",M
SmFtZXMt,James Baldwin,"August 02, 1924","Harlem, New York, The United States",M
SGFydWtp,Haruki Murakami,"January 12, 1949","Kyoto, Japan",M
QWxleGFu,Alexandre Dumas-fils,"July 27, 1824","Paris, France",M
U3RlcGhl,Stephenie Meyer,"December 24, 1973","Connecticut, The United States",F
RXJuZXN0,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States",M
SGVsZW4t,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States",F
R2Vvcmdl,George Bernard Shaw,"July 26, 1856","Dublin, Ireland",M
Q2hhcmxl,Charles Bukowski,"August 16, 1920","Andernach, Germany",M
U3V6YW5u,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States",F
Si1SLVIt,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa",M
QWxmcmVk,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom",M
VGVycnkt,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un...",M
Si1ELVNh,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States",M
R3Vvcmdl,George Carlin,"May 12, 1937","New York, New York, The United States",M
Sm9obi1M,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom",M
Vy1DLUZp,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States",M
QXluLVJh,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federation",F
SmltaS1I,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States",M
Si1NLUJh,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom",M
RS1FLUN1,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States",M
S2hhbGVk,Khaled Hosseini,"March 04, 1965","Kabul, Afghanistan",M
SGFycGVy,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States",F
TWFkZWxl,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States",F

### Source 3: Author Location Data
This direct download XML data source contains the location information that will be used
to direct app users to the historical sites associated with each author.  The *id*
tag can be used to match the previously assembled author data (ie, the *key* attribute) with
the author location data.

You are to retain all of the location attributes (excluding *id* - which will be a
duplicate of the existing *key* attribute) from this data source to extend the
previously collected author data.

```
Direct Download URL: https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml
Data Format: XML
Encoding: UTF-8
```
#### Tasks
1. Ingest the XML data into a pandas dataframe
2. Use the pandas dataframe merge method to join the
two datasets and keep only the data related to our list of 50 authors.
3. *Source 3* contains location data for many public figures in addition
to the 50 authors in which we are currently interested. Be sure to restrict your
results to our 50 authors.

In [5]:
import xml.etree.ElementTree as et
LOC_URL = 'https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml'

response = requests.get(LOC_URL)
with open('author_location.xml', 'wb') as file:
    file.write(response.content)

xtree = et.parse('author_location.xml')
xroot = xtree.getroot()

col = ['key','price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 
           'waterfront', 'grade', 'yr_built', 'lat', 'long']
rows =[]

for node in xroot:
    author_id = node.find('id').text if node is not None else None
    price = float(node.find('price').text) if node is not None else None
    bedrooms = int(node.find('bedrooms').text) if node is not None else None
    bathrooms = float(node.find('bathrooms').text) if node is not None else None
    sqft_living = int(node.find('sqft_living').text) if node is not None else None
    sqft_lot = int(node.find('sqft_lot').text) if node is not None else None
    floors = node.find('floors').text if node is not None else None
    waterfront = node.find('waterfront').text if node is not None else None
    grade = node.find('grade').text if node is not None else None
    yr_built = node.find('yr_built').text if node is not None else None
    lat = float(node.find('lat').text) if node is not None else None
    long = float(node.find('long').text) if node is not None else None
    rows.append({'key':author_id, 'price':price, 'bedrooms':bedrooms, 'bathrooms':bathrooms, 
                'sqft_living':sqft_living,'sqft_lot':sqft_lot,'floors':floors,'waterfront':waterfront,
                'grade':grade,'yr_built':yr_built,'lat':lat, 'long':long})

xml_df = pd.DataFrame(rows, columns=col)
#xml_df
    
merged_xml_df = pd.merge(indexed_df, xml_df, on='key', how='inner') 
author_info_df= merged_xml_df.set_index('key')
author_info_df

,name,dob,pob,gender,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built,lat,long
key,,,,,,,,,,,,,,,
QWxiZXJ0,Albert Einstein,"March 14, 1879","Ulm, Germany",M,699999.0,3,0.75,1240,4000,1,0,7,1968,40.7123,-94.0385
Si1LLVJv,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",F,415000.0,3,2.50,1060,1536,2,0,8,2000,38.8778,-77.0672
SmFuZS1B,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",F,300000.0,3,2.50,2540,5050,2,0,7,2006,33.9784,-117.0405
TWFyaWx5,Marilyn Monroe,"June 01, 1926",The United States,F,2480000.0,4,5.00,5310,16909,1,0,12,1992,42.8802,-78.8432
QW5kcmUt,André Gide,"November 22, 1869","Paris, France",M,425000.0,3,1.75,1530,9800,1,0,8,1958,37.6119,-82.7187
VGhvbWFz,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States",M,179900.0,2,1.00,680,6400,1,0,6,1943,47.7890,-117.0142
RWxlYW5v,Eleanor Roosevelt,"October 11, 1884",The United States,F,420000.0,3,1.75,1770,6000,1,0,7,1952,34.6356,-102.7123
U3RldmUt,Steve Martin,"August 14, 1945","Waco, Texas, The United States",M,761000.0,3,3.50,2050,2020,2,0,8,2006,42.0902,-72.0532
Qm9iLU1h,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica",M,307150.0,3,1.50,1480,6752,1,0,7,1959,32.7916,-96.7526
RHItU2V1,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States",M,550000.0,3,3.50,2490,3582,2,0,8,2005,42.6669,-73.7866
RG91Z2xh,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom",M,528000.0,3,2.50,2020,5613,2,0,7,2003,26.7401,-80.1104
RWxpZS1X,Elie Wiesel,"September 30, 1928","Sighet, Romania",M,418395.0,4,2.50,2906,5893,2,0,9,2014,37.3409,-85.3317
RnJpZWRy,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony...",M,630000.0,4,2.75,2710,37277,2,0,9,2000,42.8802,-78.8432
TWFyay1U,Mark Twain,"November 30, 1835","Florida, Missouri, The United States",M,673200.0,5,3.00,4180,8561,2,0,7,2003,40.0528,-84.1107
QWxsZW4t,Allen Saunders,"April 24, 1899",The United States,M,264950.0,2,1.00,770,7434,1,0,6,1947,45.5305,-102.7918
UGFibG8t,Pablo Neruda,"July 12, 1904","Parral, Chile",M,1295000.0,4,3.50,3790,90169,2,0,11,1998,37.9752,-89.0421
UmFscGgt,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States",M,230000.0,4,1.50,1050,9516,1,0,7,1969,35.5085,-80.8206
TW90aGVy,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi...",F,410000.0,4,2.00,1580,9581,1,0,7,1953,37.4258,-96.9173
R2Fycmlz,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States",M,247500.0,4,1.75,2290,7765,1,0,6,1936,44.5793,-71.1740
SmltLUhl,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States",M,325000.0,4,1.00,1400,9384,1.5,0,6,1948,32.3510,-86.2743
Q3hhcmxl,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States",M,134000.0,2,1.50,980,5000,2,0,7,1922,38.0329,-78.4703
V2lsbGlh,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom",M,315000.0,3,1.75,1970,8200,1,0,7,1964,48.7664,-94.9439
Sm9yZ2Ut,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina",M,390000.0,3,1.00,1000,6947,1,0,7,1947,34.0528,-117.2339
R4Vvcmdl,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir...",F,260000.0,4,2.00,1620,7992,2,0,7,1975,37.6529,-75.6611
R5Vvcmdl,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States",M,378000.0,4,2.50,1890,12236,1,0,7,1978,40.8348,-74.2650
Qy1TLUxl,C.S. Lewis,"November 29, 1898","Belfast, Ireland",M,351000.0,4,2.50,2370,7274,2,0,7,1997,31.4700,-92.7651
TWFydGlu,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States",M,291600.0,3,1.75,1630,7480,1,0,7,1979,38.8980,-77.0233
SmFtZXMt,James Baldwin,"August 02, 1924","Harlem, New York, The United States",M,660000.0,3,1.75,1980,3300,1.5,0,7,1926,40.2753,-76.8711
SGFydWtp,Haruki Murakami,"January 12, 1949","Kyoto, Japan",M,292000.0,3,2.50,1560,2740,2,0,8,1999,43.7253,-97.5880
QWxleGFu,Alexandre Dumas-fils,"July 27, 1824","Paris, France",M,576750.0,3,2.00,2220,5000,1,0,7,1966,40.4316,-89.3043
U3RlcGhl,Stephenie Meyer,"December 24, 1973","Connecticut, The United States",F,200000.0,4,2.00,1920,4822,1,0,6,1914,21.3055,-157.8447
RXJuZXN0,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States",M,368000.0,3,1.75,2120,11340,1,0,7,1966,40.1171,-90.5572
SGVsZW4t,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States",F,396000.0,3,1.75,2340,5668,1,0,6,1941,41.6780,-73.7979
R2Vvcmdl,George Bernard Shaw,"July 26, 1856","Dublin, Ireland",M,525000.0,4,2.50,3070,7200,2,0,8,2005,44.8604,-72.5842
Q2hhcmxl,Charles Bukowski,"August 16, 1920","Andernach, Germany",M,590000.0,4,1.50,2230,5109,1.5,0,7,1918,30.7139,-86.0386
U3V6YW5u,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States",F,530000.0,3,2.50,1970,6295,2,0,7,2011,32.5109,-92.1363
Si1SLVIt,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa",M,792500.0,3,1.50,1960,2400,2,0,8,1911,39.9560,-75.1506
QWxmcmVk,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom",M,565000.0,3,1.75,1130,5111,1,0,7,1942,37.5303,-82.6206
VGVycnkt,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un...",M,547000.0,2,1.00,1370,10038,1.5,0,7,1922,38.8624,-104.7565
Si1ELVNh,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States",M,291850.0,3,1.50,1060,9711,1,0,7,1963,44.2632,-88.3846
R3Vvcmdl,George Carlin,"May 12, 1937","New York, New York, The United States",M,245000.0,3,1.75,1920,9306,1,0,7,1984,32.9123,-96.6182
Sm9obi1M,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom",M,515000.0,2,1.00,1060,4960,1,0,7,1926,39.7759,-86.1383
Vy1DLUZp,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States",M,425000.0,4,2.50,2390,5021,2,0,7,2002,18.4008,-66.0534
QXluLVJh,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federation",F,825000.0,4,2.75,3990,6637,2,0,9,2003,37.3554,-90.6879
SmltaS1I,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States",M,284200.0,3,1.75,1540,6632,1,0,7,1959,39.9894,-81.1697
Si1NLUJh,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom",M,515000.0,3,2.50,3000,8250,1,0,8,1963,35.9007,-80.7921
RS1FLUN1,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States",M,485000.0,4,2.00,1400,3600,1,0,7,1900,45.4517,-122.6901
S2hhbGVk,Khaled Hosseini,"March 04, 1965","Kabul, Afghanistan",M,527500.0,4,2.25,2270,8480,1,0,8,1973,38.9148,-75.4267
SGFycGVy,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States",F,340500.0,3,2.00,2270,28025,1,0,7,1947,38.9532,-76.9472
TWFkZWxl,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States",F,296500.0,3,1.50,1580,10100,1,0,7,1961,38.8680,-104.7562

### Source 4: Zip Code API
You may have observed that the *Source 3* data does not include the city and zip code information for
the property locations for our 50 authors.  Your task is the use the latitude and longitude
values from the *Source 3* data to locate the city and zip code information and incorporate
that information into your dataframe.

The USPS maintains data related to all US zip codes and their centroid latitude and longitude.  The
*Source 3* data contains the latitude and longitude information (the lat and long tags) for the
author locations. Your task
is to use the *Source 3* latitude and longitude values as an argument to the zip code api in order to
to augment your dataframe with the city name and zip code of the authors' locations.

The ZIP code API contains ZIP codes for the
continental United States, Alaska, Hawaii, Puerto Rico, and American Samoa.
The API provides data in JSON format values for for ZIP code, city, latitude, longitude,
timezone (offset from GMT).

The relevant zip code API URL and parameters are shown in the table below.

API Information | Value
---------------------|------
API URL | https://public.opendatasoft.com/api/records/1.0/search/. [Docs](https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/api/)
dataset (parameter) | us-zip-code-latitude-and-longitude
rows (parameter) | 100
q (parameter) | TBD by You. Hint: use the #distance function. If used, distance argument must by at least 10 kilometers. [Docs](https://help.opendatasoft.com/platform/en/exploring_catalog_and_datasets/03_searching_the_data/search.html#full-text-search)
geofilter.distance (parameter) | TBD by You. If used, distance value must by at least 10 kilometers. [Docs](https://help.opendatasoft.com/platform/en/exploring_catalog_and_datasets/03_searching_the_data/search.html#geo-filtering)
Notes: | use only one of either the *q* or *geofilter.distance* parameters. Do not use both.  The choice
is yours.

#### Tasks
The long and lat values from *Source 3* are the exact longitude and latitude values for a
single property location.  As such, it is unlikely that you will find an exact match from the
zip code API using these values. Instead, you must:

1. round the lat and long values to 2 decimal place
2. invoke the API requesting all zip code related data within 10 kilometers from the
rounded lat and long values. (Refer to the *q* or *geofilder.distance* parameter documentation listed above.)
3. If the returned JSON results indicate more that one candidate record has been returned, you
must determine which record's longitude and latitude are the **closest** to the *Source 3*
long and lat values.
<br/><br/>There are several ways to accomplish this. For example, you could calculate the distance between the
each result's longitude,latitude values and the the long, lat values from *Source 3*. The
distance between the values can be calculated using the Pythagorean Theorem as follows: <br/>
&radic;( (lon<sub>1</sub>-lon<sub>2</sub>)<sup>2</sup> + (lat<sub>1</sub>-lat<sub>2</sub>)<sup>2</sup> )
 <br/>
 <br/>
 Another approach invoves a carefull reading the documentation and examination of the returned results.
4. Use the city and zip code that are associated with the result having the
 minimum distance from (closest to) the *Source 3* long, lat values.

In [7]:
import math
# SOURCE 4 SOLUTION
API_URL = 'https://public.opendatasoft.com/api/records/1.0/search'

decimals = 2
min_dist=1000
key_counter = 0
api_data = {
    'key':[],
    'city':[],
    'zip':[],   
}
author_info_df['lat'] = author_info_df['lat'].apply(lambda x: round(x, decimals))
author_info_df['long'] = author_info_df['long'].apply(lambda x: round(x, decimals))
geo_lst = author_info_df.loc[:, 'lat':'long']
print(geo_lst)
geo_lst.reset_index(drop=False, inplace=True)
for x in range(len(geo_lst)):
    y = geo_lst.loc[x,'lat']
    z = geo_lst.loc[x,'long']
    auth_key = geo_lst.loc[x,'key']
    parameters = dict(dataset='us-zip-code-latitude-and-longitude', rows=100, geofilterdistance=(y,z, 10000)) 
    api_resp = simple_get(API_URL, params=parameters, timeout=5)
    py_dict = api_resp.json()
    geo_data = py_dict['records']
    for locations in geo_data:
        api_lat = float(locations['fields']['latitude'])
        api_long = float(locations['fields']['longitude'])
        api_lat = round(api_lat,decimals)
        api_long = round(api_long, decimals)
        distance = math.sqrt((y-api_lat)**2 +(z-api_long)**2)
        distance = round(distance,decimals)
        if distance < min_dist:
            min_dist = distance
            zip_code =locations['fields']['zip']
            city = locations['fields']['city']  
        else:
            continue
    key_counter = key_counter + 1
    if key_counter > 0:
        api_data['key'].append(auth_key)
        api_data['city'].append(city)
        api_data['zip'].append(zip_code)
        min_dist= 1000 

api_df = pd.DataFrame(api_data)
merge_api_df = pd.merge(author_info_df, api_df, on='key', how='inner')
merge_api_df

            lat    long
key
QWxiZXJ0  40.71  -94.04
Si1LLVJv  38.88  -77.07
SmFuZS1B  33.98 -117.04
TWFyaWx5  42.88  -78.84
QW5kcmUt  37.61  -82.72
VGhvbWFz  47.79 -117.01
RWxlYW5v  34.64 -102.71
U3RldmUt  42.09  -72.05
Qm9iLU1h  32.79  -96.75
RHItU2V1  42.67  -73.79
RG91Z2xh  26.74  -80.11
RWxpZS1X  37.34  -85.33
RnJpZWRy  42.88  -78.84
TWFyay1U  40.05  -84.11
QWxsZW4t  45.53 -102.79
UGFibG8t  37.98  -89.04
UmFscGgt  35.51  -80.82
TW90aGVy  37.43  -96.92
R2Fycmlz  44.58  -71.17
SmltLUhl  32.35  -86.27
Q3hhcmxl  38.03  -78.47
V2lsbGlh  48.77  -94.94
Sm9yZ2Ut  34.05 -117.23
R4Vvcmdl  37.65  -75.66
R5Vvcmdl  40.83  -74.27
Qy1TLUxl  31.47  -92.77
TWFydGlu  38.90  -77.02
SmFtZXMt  40.28  -76.87
SGFydWtp  43.73  -97.59
QWxleGFu  40.43  -89.30
U3RlcGhl  21.31 -157.84
RXJuZXN0  40.12  -90.56
SGVsZW4t  41.68  -73.80
R2Vvcmdl  44.86  -72.58
Q2hhcmxl  30.71  -86.04
U3V6YW5u  32.51  -92.14
Si1SLVIt  39.96  -75.15
QWxmcmVk  37.53  -82.62
VGVycnkt  38.86 -104.76
Si1ELVNh  44.26  -88.38
R3Vvcmdl  32.91  -96.62
Sm9obi1M  39.78  -86.14
Vy1DLUZp  18.40  -66.05
QXluLVJh  37.36  -90.69
SmltaS1I  39.99  -81.17
Si1NLUJh  35.90  -80.79
RS1FLUN1  45.45 -122.69
S2hhbGVk  38.91  -75.43
SGFycGVy  38.95  -76.95
TWFkZWxl  38.87 -104.76

,key,name,dob,pob,gender,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built,lat,long,city,zip
0,QWxiZXJ0,Albert Einstein,"March 14, 1879","Ulm, Germany",M,699999.0,3,0.75,1240,4000,1,0,7,1968,40.71,-94.04,Leeton,64761
1,Si1LLVJv,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",F,415000.0,3,2.50,1060,1536,2,0,8,2000,38.88,-77.07,Washington,20594
2,SmFuZS1B,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",F,300000.0,3,2.50,2540,5050,2,0,7,2006,33.98,-117.04,Moreno Valley,92555
3,TWFyaWx5,Marilyn Monroe,"June 01, 1926",The United States,F,2480000.0,4,5.00,5310,16909,1,0,12,1992,42.88,-78.84,Buffalo,14219
4,QW5kcmUt,André Gide,"November 22, 1869","Paris, France",M,425000.0,3,1.75,1530,9800,1,0,8,1958,37.61,-82.72,East Stone Gap,24246
5,VGhvbWFz,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States",M,179900.0,2,1.00,680,6400,1,0,6,1943,47.79,-117.01,Spokane,99217
6,RWxlYW5v,Eleanor Roosevelt,"October 11, 1884",The United States,F,420000.0,3,1.75,1770,6000,1,0,7,1952,34.64,-102.71,Sugar City,81076
7,U3RldmUt,Steve Martin,"August 14, 1945","Waco, Texas, The United States",M,761000.0,3,3.50,2050,2020,2,0,8,2006,42.09,-72.05,Arlington Heights,02475
8,Qm9iLU1h,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica",M,307150.0,3,1.50,1480,6752,1,0,7,1959,32.79,-96.75,Rockwall,75087
9,RHItU2V1,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States",M,550000.0,3,3.50,2490,3582,2,0,8,2005,42.67,-73.79,Albany,12230
10,RG91Z2xh,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom",M,528000.0,3,2.50,2020,5613,2,0,7,2003,26.74,-80.11,Miami,33265
11,RWxpZS1X,Elie Wiesel,"September 30, 1928","Sighet, Romania",M,418395.0,4,2.50,2906,5893,2,0,9,2014,37.34,-85.33,Lancaster,40446
12,RnJpZWRy,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony...",M,630000.0,4,2.75,2710,37277,2,0,9,2000,42.88,-78.84,Buffalo,14219
13,TWFyay1U,Mark Twain,"November 30, 1835","Florida, Missouri, The United States",M,673200.0,5,3.00,4180,8561,2,0,7,2003,40.05,-84.11,Cincinnati,45242
14,QWxsZW4t,Allen Saunders,"April 24, 1899",The United States,M,264950.0,2,1.00,770,7434,1,0,6,1947,45.53,-102.79,Hamill,57534
15,UGFibG8t,Pablo Neruda,"July 12, 1904","Parral, Chile",M,1295000.0,4,3.50,3790,90169,2,0,11,1998,37.98,-89.04,Chamois,65024
16,UmFscGgt,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States",M,230000.0,4,1.50,1050,9516,1,0,7,1969,35.51,-80.82,Charlotte,28213
17,TW90aGVy,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi...",F,410000.0,4,2.00,1580,9581,1,0,7,1953,37.43,-96.92,Fittstown,74842
18,R2Fycmlz,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States",M,247500.0,4,1.75,2290,7765,1,0,6,1936,44.58,-71.17,Norton,05907
19,SmltLUhl,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States",M,325000.0,4,1.00,1400,9384,1.5,0,6,1948,32.35,-86.27,Louvale,31814
20,Q3hhcmxl,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States",M,134000.0,2,1.50,980,5000,2,0,7,1922,38.03,-78.47,Valentines,23887
21,V2lsbGlh,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom",M,315000.0,3,1.75,1970,8200,1,0,7,1964,48.77,-94.94,Andover,55304
22,Sm9yZ2Ut,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina",M,390000.0,3,1.00,1000,6947,1,0,7,1947,34.05,-117.23,Moreno Valley,92555
23,R4Vvcmdl,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir...",F,260000.0,4,2.00,1620,7992,2,0,7,1975,37.65,-75.66,Newport,08345
24,R5Vvcmdl,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States",M,378000.0,4,2.50,1890,12236,1,0,7,1978,40.83,-74.27,Denville,07834
25,Qy1TLUxl,C.S. Lewis,"November 29, 1898","Belfast, Ireland",M,351000.0,4,2.50,2370,7274,2,0,7,1997,31.47,-92.77,Olla,71465
26,TWFydGlu,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States",M,291600.0,3,1.75,1630,7480,1,0,7,1979,38.90,-77.02,Washington,20594
27,SmFtZXMt,James Baldwin,"August 02, 1924","Harlem, New York, The United States",M,660000.0,3,1.75,1980,3300,1.5,0,7,1926,40.28,-76.87,Halethorpe,21227
28,SGFydWtp,Haruki Murakami,"January 12, 1949","Kyoto, Japan",M,292000.0,3,2.50,1560,2740,2,0,8,1999,43.73,-97.59,Hamill,57534
29,QWxleGFu,Alexandre Dumas-fils,"July 27, 1824","Paris, France",M,576750.0,3,2.00,2220,5000,1,0,7,1966,40.43,-89.30,Chamois,65024
30,U3RlcGhl,Stephenie Meyer,"December 24, 1973","Connecticut, The United States",F,200000.0,4,2.00,1920,4822,1,0,6,1914,21.31,-157.84,Ventura,93006
31,RXJuZXN0,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States",M,368000.0,3,1.75,2120,11340,1,0,7,1966,40.12,-90.56,Chamois,65024
32,SGVsZW4t,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States",F,396000.0,3,1.75,2340,5668,1,0,6,1941,41.68,-73.80,Albany,12230
33,R2Vvcmdl,George Bernard Shaw,"July 26, 1856","Dublin, Ireland",M,525000.0,4,2.50,3070,7200,2,0,8,2005,44.86,-72.58,Norton,05907
34,Q2hhcmxl,Charles Bukowski,"August 16, 1920","Andernach, Germany",M,590000.0,4,1.50,2230,5109,1.5,0,7,1918,30.71,-86.04,Panama City,32417
35,U3V6YW5u,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States",F,530000.0,3,2.50,1970,6295,2,0,7,2011,32.51,-92.14,Olla,71465
36,Si1SLVIt,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa",M,792500.0,3,1.50,1960,2400,2,0,8,1911,39.96,-75.15,Marcus Hook,19061
37,QWxmcmVk,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom",M,565000.0,3,1.75,1130,5111,1,0,7,1942,37.53,-82.62,East Stone Gap,24246
38,VGVycnkt,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un...",M,547000.0,2,1.00,1370,10038,1.5,0,7,1922,38.86,-104.76,Sugar City,81076
39,Si1ELVNh,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States",M,291850.0,3,1.50,1060,9711,1,0,7,1963,44.26,-88.38,Readfield,54969
40,R3Vvcmdl,George Carlin,"May 12, 1937","New York, New York, The United States",M,245000.0,3,1.75,1920,9306,1,0,7,1984,32.91,-96.62,Rockwall,75087
41,Sm9obi1M,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom",M,515000.0,2,1.00,1060,4960,1,0,7,1926,39.78,-86.14,Indianapolis,46214
42,Vy1DLUZp,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States",M,425000.0,4,2.50,2390,5021,2,0,7,2002,18.40,-66.05,Miami,33265
43,QXluLVJh,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federation",F,825000.0,4,2.75,3990,6637,2,0,9,2003,37.36,-90.69,Chamois,65024
44,SmltaS1I,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States",M,284200.0,3,1.75,1540,6632,1,0,7,1959,39.99,-81.17,Charm,44617
45,Si1NLUJh,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom",M,515000.0,3,2.50,3000,8250,1,0,8,1963,35.90,-80.79,Concord,28026
46,RS1FLUN1,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States",M,485000.0,4,2.00,1400,3600,1,0,7,1900,45.45,-122.69,Tenino,98589
47,S2hhbGVk,Khaled Hosseini,"March 04, 1965","Kabul, Afghanistan",M,527500.0,4,2.25,2270,8480,1,0,8,1973,38.91,-75.43,Newport,08345
48,SGFycGVy,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States",F,340500.0,3,2.00,2270,28025,1,0,7,1947,38.95,-76.95,Washington,20594
49,TWFkZWxl,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States",F,296500.0,3,1.50,1580,10100,1,0,7,1961,38.87,-104.76,Sugar City,81076

## Proof of Concept
Use the dataframe that you constructed above to answer the following three questions.

### Question 1
What is the mean and standard deviation of living space (sqft_living) by number of bedrooms? Use the pandas
dataframe.agg() method to calculate these statistics in a single step.

### Question 2
How many authors, by gender, live on lots that exceed the mean lot size (sqft_lot) by more
than 1 standard deviation.

### Question 3
Examine the documentation for the pandas.cut() class method
[Docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

Use the cut class method to convert the *price* attribute into to
3 approximately equal sized bins. Assign each bin specific labels of 'low', 'medium', 'high'.
How many authors are there in each price category?

In [10]:
# PROOF OF CONCEPT SOLUTION
#Question 1
sqft_df_agg = merge_api_df.groupby('bedrooms').agg({'sqft_living':[np.mean, np.std]})
print(f' Mean and Std Dev of living space\n {sqft_df_agg}')

 Mean and Std Dev of living space
           sqft_living
                 mean          std
bedrooms
2          972.000000   270.314631
3         1824.230769   504.271142
4         2454.777778  1066.275130
5         4180.000000          NaN

In [68]:
#Question 2

lot_mean = merge_api_df['sqft_lot'].mean()
lot_std = merge_api_df['sqft_lot'].std()

gender_df = merge_api_df.loc[(merge_api_df['sqft_lot'] > (lot_mean + lot_std))]
gender_df = gender_df.groupby('gender').size()
gender_df

gender
F    1
M    2
dtype: int64

In [18]:
#Question 3
#min_val = merge_api_df['price'].min()
#mean_val = merge_api_df['price'].mean()
#max_val = merge_api_df['price'].max()
#cut_bins = [0, min_val,mean_val,max_val]
bin_labels = ['low', 'mid', 'high']
df_price = pd.cut(merge_api_df['price'], bins=3, labels=bin_labels).value_counts()
df_price

low     48
high     1
mid      1
Name: price, dtype: int64